body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
      /* Menü KODLAR */

      .menu {
          width: 100%;
          height: 70px;
          background-color: rgb(53, 53, 63);
          justify-content: space-between;
          display: flex;

      }

      .menu img{
          padding: 10% 55px 0 35%;
      }

      .menu ul li {
          display: inline-block;
          margin-right: 15px;
          padding-right: 15px;
          padding-top: 11px;
      }

      .menu ul li a {
          font-family: 'Lato';
          text-decoration: none;
          color: rgb(175, 175, 175);
          text-transform: uppercase;
          font-size: 13px;

      }

      .menu ul li a:hover {
          color: white;
      }

      .menu i{display: none;}

      .orta1 {  width: 100%;
    
          height: 150vh;
          background-position: center;
    
          background-size: cover;
    
          display: flex;
    
          justify-content: center;
    
          align-items: center;
    
          flex-direction: column;
          background: url(images/slider-bg.jpg) no-repeat;
      }

      .orta1 ul {
          display: flex;
          margin: 0 auto;
          list-style: none ;
    
          
      }
      .orta1 ul li a {
        font-size: 18px;
        font-family: 'Roboto';
        text-align: center;
        text-decoration: none;
        list-style: none;
        color: white;
        
    }

    .orta1 ul li a span{
       list-style: none;
       font-size: 35px;
       font: 58px bold white;
        
    }

    .orta1 .orta1ic {
        margin-top: 35px;
        width: 135px;
        height: 45px;
        border: 4px solid white;
        padding-right: 55px;
        padding-top: 15px;
        display: block;
        font-family: 'Roboto';
        font-size: 12px;
    }

    .orta1 .orta1ic:hover {
        background: white; 
       
        transition: 2s;
    }

        .orta1 .orta1ic:hover a{
           color: black;
           
        
        }
    .orta2 {
        width: 100%;
          height: 10vh;
          margin: 30px auto;
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          list-style: none;
          text-decoration: none;
        }

        .orta2 ul li {
            list-style: none;
        }
    .orta2 ul li span {
        list-style: none;
        font-size: 25px;
        font-family: 'Lato';
        color: rgb(75, 75, 75);
        letter-spacing: -1px;
    }

    .orta2 ul li p {
        font: 16px bold'Lato' #757575;
        letter-spacing: 5px;
    }

    
  .orta3 {
      width: 100%;
      height: 255px;
      margin-top: 155px;
      font-family: 'Lato';
      background: rgb(236, 236, 236);
  }

  .orta3 ul li {
    list-style:none;
    padding-top: 95px;
    margin-left: 14px;
    font-family: 'Roboto';

  }
  .orta3 ul li p {
    font-family: 'Roboto';
      color: rgb(100, 100, 100);
  }
  .orta3 ul li span {
      font-size: 25px;
      color: rgb(71, 71, 70);
      list-style:none;
      
  }

  

  .orta4 {
    width: 100%;
      height: 10vh;
      margin: 30px auto;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      text-decoration: none;
      padding-top: 55px;
    }

    .orta4 ul li {
        list-style: none;
    }
.orta4 ul li span {
    list-style: none;
    font-size: 25px;
    font-family: 'Lato';
    color: rgb(75, 75, 75);
    letter-spacing: -1px;
}

.orta4 ul li p {
    font: 16px bold'Lato' #757575;
    letter-spacing: 5px;
}
  
 .orta5 #orta5ic{
     box-sizing: border-box;
    background: 
    linear-gradient(
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0.7)
    ),
    url(/images/testimonial-bg.jpg) no-repeat center center fixed;
    min-width: 100%;
    min-height: 400px;
    background-size:cover;
    margin-top: 245px;
 }

 #orta5ic p{
    font-size: 20px;
    color: rgb(165, 165, 165);
    font-weight: 300;
    font-family: 'Roboto';
    padding-top: 45px;
    
    
}

 #orta5ic ul li {
     text-align: center;
     
 }

 #orta5ic ul li p span{
     text-align: center;
 }


 .orta6 {
    width: 100%;
      height: 10vh;
      margin: 130px auto;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      text-decoration: none;
    }

    .orta6 ul li {
        list-style: none;
    }
.orta6 ul li span {
    list-style: none;
    font-size: 25px;
    font-family: 'Lato';
    color: rgb(75, 75, 75);
    letter-spacing: -1px;
}

.orta6 ul li p {
    font: 16px bold'Lato' #757575;
    letter-spacing: 5px;
}


.orta7 .menu1 {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;

}


.orta7 .menu1 ul li {
    display: inline-block;
    margin-left: 95px;
    padding-top: 11px;

}

.orta7  .menu1 ul li a {
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(129, 127, 127);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -1px;

}

.orta7  .menu1 ul li a:hover {
    color: rgb(5, 5, 5);
    background: rgb(255, 255, 255);
}

.orta8 {
    display: flex;
    
}

.orta8 ul li {
    list-style: none;
}

.orta8 .orta11 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    transition: 0.5s;
}

.orta8 .orta12 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    
    transition: 0.5s;
    
}

.orta8 .orta13 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    
    transition: 0.5s;
}

.orta8 .orta11:hover {
    transform: scale(1.2);
    z-index: 2;
}

.orta8 .orta12:hover {
    transform: scale(1.2);
    z-index: 2;
    
}

.orta8 .orta13:hover {
    transform: scale(1.2);
    z-index: 2;
}
.orta8 .orta11 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    transition: 0.5s;
}

.orta8 .orta12 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    
    transition: 0.5s;
    
}

.orta8 .orta13 {
    width: 30%;
    height: 10%;
    display: flex;
    margin: 1px auto;
    
    transition: 0.5s;
}

.orta8 .orta11:hover {
    transform: scale(1.2);
    z-index: 2;
}

.orta8 .orta12:hover {
    transform: scale(1.2);
    z-index: 2;
    
}

.orta8 .orta13:hover {
    transform: scale(1.2);
    z-index: 2;
}

.orta8 img {
    border-radius: 8px;
    border: 2px solid black;
}

.orta9 {
    text-align: center;
    padding-top: 5px;
}

.orta9 #orta9ic{
    box-sizing: border-box;
   background: 
   linear-gradient(
       rgb(0, 0, 0),
       rgba(0, 0, 0, 0.7)
   ),
   url(/images/counter-bg.jpg) no-repeat center center fixed;
   min-width: 100%;
   min-height: 400px;
   background-size:cover;
   margin-top: 245px;
}

.orta9 #orta9ic p{
   font-size: 20px;
   color: rgb(165, 165, 165);
   font-weight: 300;
   font-family: 'Roboto';
   padding-top: 115px;
   
   
}

.alt {
    width: 100%;
    height: 60px;
    background-color: slategray;
    border: 1px solid black;
}

.alt ul li {
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 2;
    text-align: center;

}

.alt ul li p {
    color: white;
    font-family: 'Roboto';
    font-size: 11px;
}
.alt ul li a {
    color: rgb(44, 42, 42);
    font-family: 'Roboto';
    font-size: 11px;
    text-decoration: none;
    font: 11px bold 'Roboto';
}

.alt ul li a:hover {
color: rgb(46, 44, 44);
}



/* RESPONSİVE TABLET */

@media only screen and (max-width:992px) {

    .orta {flex-wrap:wrap;}
    .orta {width: 90%;}
    .orta img{width: 90%; height: 90%;}

}





/* RESPONSİVE Mobil */

@media only screen and (max-width:768px) {

    .menu {justify-content: space-between;}
    .menu {margin-right: 20%;}
    .menu ul {display: none;}
    .menu i {display: block;
    cursor:pointer;
color: white;
font-size: 20px;
border: 1px solid white;
padding: 15px;
border-radius: 16%;
margin-top: 1%;
margin-right: 15%;}
    
    }
    /* Orta Alan Responsiv */

    .orta8{width: 90%;}
    .orta8  {flex-direction: row;}
    .icerik , p {padding: 1%;}

    /*Alt*/
    .alt .icerik {
        display: flex;
        width: 100%;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    